<div class='container'>
    <div class='row'>
        <div class='col'>
            {{#each record}}
            <card class='mb-2 p-3 card shadow'>
                <strong>{{this.user}}</strong>
                <p>{{this.commentText}}</p>
                <small>{{this.associatedArticleURL}}</small>
            </card>
            {{/each}}
        </div>
    </div>
</div>